
config SND_SUNXI_SOC_DAUDIO0_INTERFACE
	tristate "SoC daudio0 tdm interface for SUNXI chips"
	depends on ARCH_SUN9IW1 || ARCH_SUN8IW6|| ARCH_SUN8IW7 || ARCH_SUN8IW8
	select SND_SOC_DMAENGINE_PCM
	default n
	help
	  Say Y or M if you want to add support for codecs attached to
	  the SUNXI DAUDIO TDM interface. You will also need
	  to select the audio interfaces to support below.




config SND_SUNXI_SOC_DAUDIO0_PUBLIC_MACHINE
	tristate "Public Machine for SUNXI chips"
	depends on ARCH_SUN9IW1 || ARCH_SUN8IW6|| ARCH_SUN8IW7 || ARCH_SUN8IW8
	default n
	help
	  Say Y or M if you want to add sun8iw1 audiocodec support
	 
config SND_SUNXI_SOC_SUN8IW6_AC100
	tristate "Machine for A83 AC100"
	depends on ARCH_SUN8IW6
	default n
	help
	  Say Y or M if you want to add sun8iw1 audiocodec support
config SND_VIRBB_DAI
	tristate "virtual bb interface"
	depends on ARCH_SUN8IW6
	default n
	help
	  Say Y or M if you want to add sun8iw1 audiocodec support