menuconfig ION
	tristate "Ion Memory Manager"
	select GENERIC_ALLOCATOR
	select DMA_SHARED_BUFFER
	help
	  Chose this option to enable the ION Memory Manager.

config ION_TEGRA
	tristate "Ion for Tegra"
	depends on ARCH_TEGRA && ION
	help
	  Choose this option if you wish to use ion on an nVidia Tegra.

config ION_SUNXI
	bool "ion for sunxi"
	depends on ARCH_SUNXI && ION
	help
	  ION for sunxi platforms.

config ION_SUNXI_CARVEOUT_SIZE
	int "memory size(in MB) for sunxi carveout ion heap."
	default 128
	depends on ION_SUNXI
	help
	  Select memory size for sunxi carveout ion heap, the memory is used by modules that need physical continous memory, such as gpu and ve...
	  Examples:
		100 => reserve 100M bytes memory for carveout heap.
		230 => reserve 230M bytes memory for carveout heap.
